<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425897657640-5ev6ehnrgc56t5segv20gpa2lacdpdp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425897657640-5ev6ehnrgc56t5segv20gpa2lacdpdp5</string>
	<key>API_KEY</key>
	<string>AIzaSyDgoUWTcgCH0USM4DCatYEuDxP6UC1xbDc</string>
	<key>GCM_SENDER_ID</key>
	<string>425897657640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttergadgetstore</string>
	<key>PROJECT_ID</key>
	<string>fluttergedgetsstore</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergedgetsstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425897657640:ios:d1de2a969670fdb2cc7c1d</string>
</dict>
</plist>